@font-face {
    font-family: xyz;
    src: url(./DS-DIGIB.TTF);
}
body {
    background-color: cornsilk;
}
.divv {
    background-color:  black;
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
    height: 19.5vh;
   border: outset 25px  ;
   position: relative;
   top: 200px;
}
h1 {
  font-family: xyz;
  font-size: 7rem;
  position: relative;
  bottom:  70px;
}
h3 {
    font-family: sans-serif;
    font-size: 2rem;
    position: relative;
    bottom: 145px;

}
.btnn {
    margin: auto;
    width: 50%;
    position: relative;
    top: 220px;
    text-align: center;
    font-family: sans-serif;

}
.res {
    /* padding: 12px; */
    width: 80px;
    font-size: 15px;
    height: 4vh;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;

}
.pau {
    /* padding: 12px; */
    width: 80px;
    font-size: 15px;
    height: 4vh;
    background-color: red;
    border: none;
    color: white;
    border-radius: 10px;
}

@media screen and (min-width:250px) and (max-width: 450px) {

    .divv {
        width: 90%;
        border: inset 10px;
        height: 17vh;
    }
    h1 {
        font-size: 4rem;
        position: relative;
        top: -40px;
        
    }
    h3 {
        font-size: 1.5rem;
        position: relative;
        top:  -80px;
    }
   
  
    
}
@media screen and (min-width:600px) and (max-width: 1200px){
    .divv{
        width: 90%;
    }
}

